@import url(https://fonts.googleapis.com/css2?family=Noto+Color+Emoji+Compat);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-grow {
  @apply grow overflow-auto;
}

.overflow-auto {
  @apply overflow-auto-raw no-scrollbar;
}
.overflow-y-auto {
  @apply overflow-y-auto-raw no-scrollbar;
}
.overflow-x-auto {
  @apply overflow-x-auto-raw no-scrollbar;
}

.overflow-auto-scrollbar {
  @apply overflow-auto-raw styledscroll;
}

.overflow-y-auto-scrollbar {
  @apply overflow-y-auto-raw styledscroll;
}

:root {
  overflow: hidden;
}

  /**
* user-select: none is used to provide native experience for touch devices
*/
:root {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

li.md-list-item::before {
  content: "• ";
}
blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(var(--colors-fgs3), 1);
}

@layer base {
  /* @font-face {
        font-family: 'Space Grotesk';
        src: url('fonts/SpaceGrotesk.ttf');
    } */

  /* Hide scrollbar for IOS webview and other scenarios */
  /* ::-webkit-scrollbar {
    width: 0em;
  } */

  .no-scrollbar {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  .no-scrollbar::-webkit-scrollbar {
    width: 0em;
    display: none !important; /* Safari and Chrome */
  }

  .styledscroll {
    -webkit-overflow-scrolling: touch;
  }

  .styledscroll::-webkit-scrollbar {
    height: 2px;
    width: 0.3em !important;
  }
  /* .styledscroll::-webkit-scrollbar:hover {
    height: 2px;
    width: 0.5em;
  } */
  .styledscroll::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background-color: rgba(var(--colors-bgs4));
  }

  .styledscroll::-webkit-scrollbar-thumb:hover {
    background-color: rgba(var(--colors-bgs4));
    width: 1rem;
  }

  button,
  div {
    -webkit-tap-highlight-color: transparent;
  }
  /* button:active,
  button:focus {
    outline: none;
    background: transparent;
  } */
  .custom-focus-outline:focus {
    outline: 1px auto -webkit-focus-ring-color;
  }

  .noto-color-emoji-mod {
    font-family: "Noto Color Emoji Compat", sans-serif;
    font-size: 1.5rem;
  }

  .placeholder {
    font-weight: 350;
    color: rgba(var(--colors-fgs2), 0.5);
  }

  input::placeholder {
    font-weight: 350;
    color: rgba(var(--colors-fgs2), 0.5);
  }

  textarea::placeholder {
    font-weight: 350;
    color: rgba(var(--colors-fgs2), 0.5);
  }

  /* Carbon chart overrides */
  g.callouts {
    display: none !important;
    opacity: 0 !important;
  }

  div.legend {
    max-height: 50px !important;
    overflow: auto !important;
  }

  path.arc-background,
  .cds--cc--gauge path.arc-background,
  .arc-background {
    fill: rgba(var(--colors-aps2), 1) !important;
  }

  .overflow-auto-raw {
    overflow: auto;
  }

  .overflow-y-auto-raw {
    overflow-y: auto;
  }
  .overflow-x-auto-raw {
    overflow-x: auto;
  }

  /* Logo colors 
  Notes:
  Could have directly included in the <SubatomLogo> component but, dark: tailwind utility is not working in that case.
  */
  .fill-logo-dark {
    fill: #393939;
  }
  .fill-logo-light {
    fill: #ffffff;
  }
  .stroke-logo-dark {
    stroke: #393939;
  }
  .stroke-logo-light {
    stroke: #ffffff;
  }

  .default-typeface {
    font-family: "Sen", "Hanken Grotesk", system-ui, sans-serif;
  }

  .selectable {
    -webkit-user-select: text; /* Safari */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
    user-select: text; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }
}

@layer utilities {
  .underline-dotted,
  .underline-dotted-primary {
    position: relative;
    /* text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgba(var(--colors-fgs3), 1); */
  }

  .underline-dotted::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: -0.2px;
    height: 1.5px;
    width: 100%;
    background: repeating-linear-gradient(
      to right,
      rgba(var(--colors-fgs3), 1),
      rgba(var(--colors-fgs3), 1) 2px,
      transparent 1px,
      transparent 4px
    );
  }
  .underline-dotted-primary::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: -0.2px;
    height: 1.5px;
    width: 100%;
    background: repeating-linear-gradient(
      to right,
      rgba(var(--colors-aps1), 1),
      rgba(var(--colors-aps1), 1) 2px,
      transparent 1px,
      transparent 4px
    );
  }
}
