<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>NucleusAccountDomain</key>
	<string>nucleum.app</string>
	<key>NucleusAppEnvironment</key>
	<string>dev</string>
	<key>NucleusDebugSinkUrl</key>
	<string>https://nucleus-debug-sink.21n.workers.dev</string>
	<key>NucleusDefaultRegion</key>
	<string>insouth</string>
	<key>NucleusProduct</key>
	<string>pointron.app</string>
</dict>
</plist>
